{{!-- Depends on: js/modules/modals.js --}}
{{#if render_requirement_modal}}
<div class="modal fade" id="addRequirementModal" tabindex="-1" aria-labelledby="addRequirementModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRequirementModalLabel">Add New Requirement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addRequirementForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_req_title" class="form-label c-form-label">Title *</label>
                <input type="text" class="form-control c-form-control" id="new_req_title" name="req_title" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_req_reference" class="form-label c-form-label">Reference</label>
                <input type="text" class="form-control c-form-control" id="new_req_reference" name="req_reference">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="new_req_description" class="form-label c-form-label">Description *</label>
            <textarea class="form-control c-form-control c-form-control--textarea" id="new_req_description" name="req_description" rows="3" required></textarea>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="new_req_category" class="form-label c-form-label">Category</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_category" name="req_category">
                  {{#each categories}}
                    <option value="{{cat_id}}">{{cat_title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="new_req_status" class="form-label c-form-label">Status</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_status" name="req_current_status">
                  {{#each statuses}}
                    <option value="{{req_st_id}}">{{req_st_title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="new_req_verification" class="form-label c-form-label">Verification</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_verification" name="req_verification_method">
                  {{#each verifications}}
                    <option value="{{verification_id}}">{{verification_name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_req_author" class="form-label c-form-label">Author</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_author" name="req_author">
                  {{#each users}}
                    <option value="{{user_id}}">{{user_name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_req_reviewer" class="form-label c-form-label">Reviewer</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_reviewer" name="req_reviewer">
                  {{#each users}}
                    <option value="{{user_id}}">{{user_name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Requirement</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}

{{#if render_test_modal}}
<div class="modal fade" id="addTestModal" tabindex="-1" aria-labelledby="addTestModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTestModalLabel">Add New Test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addTestForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_test_name" class="form-label c-form-label">Name *</label>
                <input type="text" class="form-control c-form-control" id="new_test_name" name="test_name" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_test_reference" class="form-label c-form-label">Reference</label>
                <input type="text" class="form-control c-form-control" id="new_test_reference" name="test_reference">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="new_test_description" class="form-label c-form-label">Description *</label>
            <textarea class="form-control c-form-control c-form-control--textarea" id="new_test_description" name="test_description" rows="3" required></textarea>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_test_status" class="form-label c-form-label">Status</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_test_status" name="test_status">
                  {{#each statuses}}
                    <option value="{{#if test_st_id}}{{test_st_id}}{{else}}{{req_st_id}}{{/if}}">
                      {{#if test_st_title}}{{test_st_title}}{{else}}{{req_st_title}}{{/if}}
                    </option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_test_source" class="form-label c-form-label">Source</label>
                <input type="text" class="form-control c-form-control" id="new_test_source" name="test_source">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="new_test_parent" class="form-label c-form-label">Parent Test</label>
            <select class="form-select c-form-select c-form-control c-form-control--select" id="new_test_parent" name="test_parent">
              <option value="0">None</option>
              {{#each tests}}
                <option value="{{test_id}}">{{test_name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Test</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}
