{{!-- Depends on: js/modules/modals.js --}}
{{#if render_requirement_modal}}
<div class="modal fade" id="addRequirementModal" tabindex="-1" aria-labelledby="addRequirementModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRequirementModalLabel">Add New Requirement</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addRequirementForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_req_title" class="form-label c-form-label">Title *</label>
                <input type="text" class="form-control c-form-control" id="new_req_title" name="title" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_req_reference" class="form-label c-form-label">Reference</label>
                <input type="text" class="form-control c-form-control" id="new_req_reference" name="reference_code">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="new_req_description" class="form-label c-form-label">Description *</label>
            <textarea class="form-control c-form-control c-form-control--textarea" id="new_req_description" name="description" rows="3" required></textarea>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="new_req_category" class="form-label c-form-label">Category</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_category" name="category_id">
                  {{#each categories}}
                    <option value="{{id}}">{{title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="new_req_status" class="form-label c-form-label">Status</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_status" name="status_id">
                  {{#each statuses}}
                    <option value="{{id}}">{{title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label for="new_req_verification" class="form-label c-form-label">Verification</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_verification" name="verification_method_id">
                  {{#each verifications}}
                    <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_req_author" class="form-label c-form-label">Author</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_author" name="author_id">
                  {{#each users}}
                    <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_req_reviewer" class="form-label c-form-label">Reviewer</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_req_reviewer" name="reviewer_id">
                  {{#each users}}
                    <option value="{{id}}">{{name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Requirement</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}

{{#if render_test_modal}}
<div class="modal fade" id="addTestModal" tabindex="-1" aria-labelledby="addTestModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTestModalLabel">Add New Test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addTestForm">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_test_name" class="form-label c-form-label">Name *</label>
                <input type="text" class="form-control c-form-control" id="new_test_name" name="name" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_test_reference" class="form-label c-form-label">Reference</label>
                <input type="text" class="form-control c-form-control" id="new_test_reference" name="reference_code">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="new_test_description" class="form-label c-form-label">Description *</label>
            <textarea class="form-control c-form-control c-form-control--textarea" id="new_test_description" name="description" rows="3" required></textarea>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_test_status" class="form-label c-form-label">Status</label>
                <select class="form-select c-form-select c-form-control c-form-control--select" id="new_test_status" name="status_id">
                  {{#each statuses}}
                    <option value="{{#if id}}{{id}}{{else}}{{id}}{{/if}}">
                      {{#if title}}{{title}}{{else}}{{title}}{{/if}}
                    </option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="new_test_source" class="form-label c-form-label">Source</label>
                <input type="text" class="form-control c-form-control" id="new_test_source" name="source">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="new_test_parent" class="form-label c-form-label">Parent Test</label>
            <select class="form-select c-form-select c-form-control c-form-control--select" id="new_test_parent" name="parent_id">
              <option value="0">None</option>
              {{#each tests}}
                <option value="{{id}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add Test</button>
        </div>
      </form>
    </div>
  </div>
</div>
{{/if}}
