{{!-- Depends on: css/50-components/navigation.css --}}
<nav class="navbar c-navbar">
  <div class="nav-container c-navbar__container">
    <div class="nav-left c-navbar__left">
      <a href="/" class="nav-brand c-navbar__brand" aria-label="Marreq home">Marreq</a>
    </div>

    <div class="nav-right c-navbar__right">
      <ul class="nav-menu c-navbar__menu">
        <li class="c-navbar__item">
        {{#if selected_project_slug}}
        <a href="/{{selected_project_slug}}" class="nav-link c-navbar__link">Home</a>
        {{else if project.route_slug}}
        <a href="/{{project.route_slug}}" class="nav-link c-navbar__link">Home</a>
        {{else if project.slug}}
        <a href="/{{project.slug}}" class="nav-link c-navbar__link">Home</a>
        {{else}}
        <a href="/" class="nav-link c-navbar__link">Home</a>
        {{/if}}
        </li>
        <li class="nav-item dropdown c-navbar__item">
          <a class="nav-link dropdown-toggle c-navbar__link c-navbar__link--toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu c-navbar__dropdown-menu">
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/projects">All Projects</a></li>
            {{#if user.is_admin}}
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/new_project">New Project</a></li>
            {{/if}}
          </ul>
        </li>
        <li class="nav-item dropdown c-navbar__item">
          <a class="nav-link dropdown-toggle c-navbar__link c-navbar__link--toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Groups
          </a>
          <ul class="dropdown-menu c-navbar__dropdown-menu">
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/groups">All Groups</a></li>
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/groups/new">New Group</a></li>
          </ul>
        </li>
        {{#if selected_project_slug}}
        <li class="c-navbar__item"><a href="/{{selected_project_slug}}/requirements"
            class="nav-link c-navbar__link">Requirements</a></li>
        {{else if project.route_slug}}
        <li class="c-navbar__item"><a href="/{{project.route_slug}}/requirements"
            class="nav-link c-navbar__link">Requirements</a></li>
        {{else}}
        <li class="c-navbar__item"><span class="nav-link c-navbar__link c-navbar__link--disabled"
            aria-disabled="true">Requirements</span></li>
        {{/if}}
        {{#if selected_project_slug}}
        <li class="c-navbar__item"><a href="/{{selected_project_slug}}/verifications" class="nav-link c-navbar__link">Verifications</a>
        </li>
        {{else if project.route_slug}}
        <li class="c-navbar__item"><a href="/{{project.route_slug}}/verifications" class="nav-link c-navbar__link">Verifications</a></li>
        {{else}}
        <li class="c-navbar__item"><span class="nav-link c-navbar__link c-navbar__link--disabled"
            aria-disabled="true">Verifications</span></li>
        {{/if}}
        {{#if selected_project_slug}}
        <li class="c-navbar__item"><a href="/{{selected_project_slug}}/reports"
            class="nav-link c-navbar__link">Reports</a></li>
        <li class="c-navbar__item"><a href="/{{selected_project_slug}}/members"
            class="nav-link c-navbar__link">Members</a></li>
        <li class="c-navbar__item"><a href="/{{selected_project_slug}}/baselines"
            class="nav-link c-navbar__link">Baselines</a></li>
        {{else if project.route_slug}}
        <li class="c-navbar__item"><a href="/{{project.route_slug}}/reports" class="nav-link c-navbar__link">Reports</a></li>
        <li class="c-navbar__item"><a href="/{{project.route_slug}}/members" class="nav-link c-navbar__link">Members</a></li>
        <li class="c-navbar__item"><a href="/{{project.route_slug}}/baselines" class="nav-link c-navbar__link">Baselines</a></li>
        {{/if}}
        {{#if user.is_admin}}
        <li class="nav-item dropdown c-navbar__item">
          <a class="nav-link dropdown-toggle c-navbar__link c-navbar__link--toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Quick Actions
          </a>
          <ul class="dropdown-menu c-navbar__dropdown-menu">
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/new_project">New Project</a></li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/requirements/new">New
                Requirement</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/requirements/new">New
                Requirement</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">New Requirement</span>
              {{/if}}
            </li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/verifications/new">New Verification</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/verifications/new">New Verification</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">New Verification</span>
              {{/if}}
            </li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/categories/new">New Category</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/categories/new">New
                Category</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">New Category</span>
              {{/if}}
            </li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/applicability/new">New
                Applicability</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/applicability/new">New
                Applicability</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">New Applicability</span>
              {{/if}}
            </li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/verification/new">New
                Verification</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/verification/new">New
                Verification</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">New Verification</span>
              {{/if}}
            </li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/requirement_statuses/new">New requirement status</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/requirement_statuses/new">New requirement status</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">New requirement status</span>
              {{/if}}
            </li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/verification_statuses/new">New verification status</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/verification_statuses/new">New verification status</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">New verification status</span>
              {{/if}}
            </li>
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/user/new">New User</a></li>
            <li>
              <hr class="dropdown-divider c-navbar__dropdown-divider">
            </li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/import_excel">Import File</a>
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/import_reqif">Import ReqIF</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/import_excel">Import
                File</a>
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/import_reqif">Import
                ReqIF</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">Import File</span>
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">Import ReqIF</span>
              {{/if}}
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown c-navbar__item">
          <a class="nav-link dropdown-toggle c-navbar__link c-navbar__link--toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu c-navbar__dropdown-menu">
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/-/admin">Dashboard</a></li>
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/-/admin/users">User Management</a></li>
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/-/admin/backup">Database Backup</a></li>
            <li>
              <hr class="dropdown-divider c-navbar__dropdown-divider">
            </li>
            <li>
              {{#if project.id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/import_excel">Import File</a>
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{project.slug}}/import_reqif">Import ReqIF</a>
              {{else if selected_project_id}}
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/import_excel">Import
                File</a>
              <a class="dropdown-item c-navbar__dropdown-item" href="/{{selected_project_slug}}/import_reqif">Import
                ReqIF</a>
              {{else}}
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">Import File</span>
              <span class="dropdown-item disabled c-navbar__dropdown-item" aria-disabled="true">Import ReqIF</span>
              {{/if}}
            </li>
            <li>
              <hr class="dropdown-divider c-navbar__dropdown-divider">
            </li>
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/logs">System Logs</a></li>
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/log_analytics">Log Analytics</a></li>
          </ul>
        </li>
        {{/if}}
      </ul>
      <div class="nav-actions c-navbar__actions">
        <div class="nav-item-theme c-navbar__theme">
          <button data-theme-toggle class="theme-toggle c-theme-toggle" type="button" aria-label="Toggle dark mode"
            aria-pressed="false" title="Toggle dark mode">
            <span class="theme-toggle-icon theme-toggle-icon-sun c-theme-toggle__icon c-theme-toggle__icon--sun"
              aria-hidden="true">☀</span>
            <span class="theme-toggle-icon theme-toggle-icon-moon c-theme-toggle__icon c-theme-toggle__icon--moon"
              aria-hidden="true">🌙</span>
          </button>
        </div>
        <div class="nav-item-user dropdown c-navbar__user">
          <a class="nav-link dropdown-toggle nav-user-toggle c-navbar__link c-navbar__link--toggle c-navbar__user-toggle"
            href="#" id="user-menu-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{#if user.name}}
            <span class="nav-user-label c-navbar__user-label">{{user.name}}</span>
            {{else}}
            <span class="nav-user-label c-navbar__user-label">{{user.username}}</span>
            {{/if}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end nav-user-menu c-navbar__user-menu c-navbar__dropdown-menu"
            aria-labelledby="user-menu-toggle">
            <li>
              <h6 class="dropdown-header nav-user-header c-navbar__user-header">
                {{#if user.name}}
                <span class="nav-user-name c-navbar__user-name">{{user.name}}</span>
                {{else}}
                <span class="nav-user-name c-navbar__user-name">{{user.username}}</span>
                {{/if}}
                {{#if user.username}}
                <span class="nav-user-username c-navbar__user-username">@{{user.username}}</span>
                {{/if}}
              </h6>
            </li>
            <li>
              <hr class="dropdown-divider c-navbar__dropdown-divider">
            </li>
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/user/profile">My Profile</a></li>
            <li><a class="dropdown-item c-navbar__dropdown-item" href="/change_password">Change Password</a></li>
            <li>
              {{!-- POST form for logout prevents CSRF via state-changing GET (ASVS V3.5.3). --}}
              <form method="POST" action="/logout" style="margin:0">
                <button type="submit" class="dropdown-item nav-user-logout c-navbar__dropdown-item c-navbar__user-logout">Logout</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
