{{!-- Pagination Controls --}}
<div class="d-flex gap-1 align-items-center">
  {{#if has_prev_page}}
    <a 
      href="/p/{{selected_project_id}}/matrix?page={{prev_page}}&per_page={{per_page}}{{#if current_sort_by}}&sort_by={{current_sort_by}}{{/if}}{{#if current_sort_order}}&sort_order={{current_sort_order}}{{/if}}{{#if test_status_filter}}&test_status_filter={{test_status_filter}}{{/if}}{{#if req_status_filter}}&req_status_filter={{req_status_filter}}{{/if}}{{#if category_filter}}&category_filter={{category_filter}}{{/if}}{{#if applicability_filter}}&applicability_filter={{applicability_filter}}{{/if}}{{#if search}}&search={{search}}{{/if}}"
      class="text-secondary"
      style="text-decoration: none; font-size: 1.25rem; line-height: 1; opacity: 0.7; transition: opacity 0.2s;"
      onmouseover="this.style.opacity='1'"
      onmouseout="this.style.opacity='0.7'"
      aria-label="Previous page"
      title="Previous page"
    >‹</a>
  {{else}}
    <span class="text-secondary" style="font-size: 1.25rem; line-height: 1; opacity: 0.3;" aria-disabled="true">‹</span>
  {{/if}}
  <span class="text-secondary" style="font-size: 0.875rem; margin: 0 0.5rem;">
    <span aria-label="Showing page information">Page {{page}} of {{total_pages}}</span>
  </span>
  {{#if has_next_page}}
    <a 
      href="/p/{{selected_project_id}}/matrix?page={{next_page}}&per_page={{per_page}}{{#if current_sort_by}}&sort_by={{current_sort_by}}{{/if}}{{#if current_sort_order}}&sort_order={{current_sort_order}}{{/if}}{{#if test_status_filter}}&test_status_filter={{test_status_filter}}{{/if}}{{#if req_status_filter}}&req_status_filter={{req_status_filter}}{{/if}}{{#if category_filter}}&category_filter={{category_filter}}{{/if}}{{#if applicability_filter}}&applicability_filter={{applicability_filter}}{{/if}}{{#if search}}&search={{search}}{{/if}}"
      class="text-secondary"
      style="text-decoration: none; font-size: 1.25rem; line-height: 1; opacity: 0.7; transition: opacity 0.2s;"
      onmouseover="this.style.opacity='1'"
      onmouseout="this.style.opacity='0.7'"
      aria-label="Next page"
      title="Next page"
    >›</a>
  {{else}}
    <span class="text-secondary" style="font-size: 1.25rem; line-height: 1; opacity: 0.3;" aria-disabled="true">›</span>
  {{/if}}
</div>
