{{#*inline "page"}}

<section id="Requirements">
<h1>New requirement</h1>
	

<form method="post">
    <div class='ReqTitle'> 
        <label for="req_title">Title: </label>
        <input type="text" name="req_title" id="req_title" value="{{req_title}}">
    </div>
    <div class='ReqDesc'>
        <label for='req_description'>Description: </label>
        <input type="text" name ="req_description" id="req_description" value="{{req_description}}">
    </div>
    <div class='ReqAuthor'>
        <label for='req_author'>Author: </label>
        <select name="req_author" id="req_author">
        {{#each users }}
            <option value="{{user_id}}"> {{user_name}}</option>
        {{/each}}
    </select>
    </div>
    <div class='ReqVerification'>
        <label for='req_verification'>Verification mode</label>
        <select name='req_verification' id='req_verification'>
            {{#each verification}}
            <option value="{{ver_id}}">{{ver_title}}</option>
            {{/each}}
        </select>
    </div>
    <div class='ReqRef'>
        <label for='req_reference'>Reference: </label>
        <input type="text" name="req_reference" id="req_reference" value="{{req_reference}}">
    </div>

    <label for='req_current_status'>Status: </label>
    <select name="req_current_status" id="req_current_status">
        {{#each status }}
            <option value="{{st_id}}"> {{st_title}}</option>
        {{/each}}
    </select>

    <label for='req_category'>Category: </label>
    <select name="req_category" id="req_category">
        {{#each categories }}
            <option value="{{cat_id}}"> {{cat_title}}</option>
        {{/each}}
    </select>

    <label for='req_parent'>Parent: </label>
    <select name="req_parent" id="req_parent">
        {{#each parent }}
            <option value="{{req_id}}"> {{req_title}}</option>
        {{/each}}
    </select>
    <div class='ReqReviewer'>
        <label for='req_reviewer'>Author: </label>
        <select name="req_reviewer" id="req_reviewer">
            {{#each users }}
                <option value="{{user_id}}"> {{user_name}}</option>
            {{/each}}
        </select>
    </div>

    <input type="hidden" id="req_id" name="req_id" value="None">
    <input type="hidden" id="req_author_email" name="req_author_email" value="hello@example.com">
    <input type="hidden" id="req_link" name="req_link" value="http://www.google.com">
    <input type="submit" value="Create new Requirement">
</form>

</section>

{{/inline}}
{{> layout}}