
<div class='AllReqs'>
    <div class='ReqNum'>Num: <a href='http://localhost:8000/requirements/{{req_id}}'>
    {{req_id}}</a></div>
    <div class='ReqTitle'>Title: {{req_title}}</div>
    <div class='ReqDesc'>Description: {{req_description}}</div>
    <div class='ReqAuthor'>Author: {{req_author}}</div>
    <div class='ReqRef'>Reference: {{req_reference}}</div>
    <div class='ReqParent'>Parent: <a href='/requirements/{{req_parent_id}}'>{{req_parent_title}}</a></div>
    <div class='ReqDate'>Date: {{req_creation_date}}</div>
    <div class='ReqCat'>Category: {{req_category}}</div>
    <div class='ReqVerification'>Verification mode: {{req_verification}}</div>
    <div class='ReqStat'>Status: {{req_current_status}}</div>
    <div class='ReqURL'>Link: {{req_link}}</div>
    <div class='ReqReviewer'>Reviewer: {{req_reviewer}}</div>
    <a href="/edit_requirement/{{req_id}}">Edit</a>
</div>

