
<div class='AllReqs'>
    <div class='ReqNum'>Num: <a href='http://localhost:8000/requirements/{{requirements.req_id}}'>
    {{requirements.req_id}}</a></div>
    <div class='ReqTitle'>Title: {{requirements.req_title}}</div>
    <div class='ReqDesc'>Description: {{requirements.req_description}}</div>
    <div class='ReqAuthor'>Author: {{author}}</div>
    <div class='ReqRef'>Reference {{requirements.req_reference}}</div>
    <div class='ReqParent'>Parent: {{requirements.req_parent}}</div>
    <div class='ReqDate'>Date: {{requirements.req_creation_date}}</div>
    <div class='ReqCat'>Category: {{categories.cat_title}}</div>
</div>