
<div class='AllReqs'>
    <div class='ReqNum'>Num: <a href='http://localhost:8000/requirements/{{req_id}}'>
    {{req_id}}</a></div>
    <div class='ReqTitle'>Title: {{req_title}}</div>
    <div class='ReqDesc'>Description: {{req_description}}</div>
    <div class='ReqAuthor'>Author: {{req_author}}</div>
    <div class='ReqRef'>Reference {{req_reference}}</div>
    <div class='ReqParent'>Parent: {{req_parent}}</div>
    <div class='ReqDate'>Date: {{req_creation_date}}</div>
    <div class='ReqCat'>Category: {{req_category}}</div>
</div>