
<div class="card requirement-card">
  <div class="card-body">
    <div class="requirement-header">
      <div>
        <a href="/p/{{@root.selected_project_id}}/tests/show/{{test_id}}" class="requirement-id">{{test_reference}}</a>
        <h3 class="requirement-title">{{test_name}}</h3>
      </div>
      <div class="requirement-actions">
        <a href="/p/{{@root.selected_project_id}}/tests/edit/{{test_id}}" class="btn btn-outline btn-sm">Edit</a>
        {{#if (or (eq test_status_id 1) (eq test_status_id 2))}}
          <button onclick="deleteTest({{@root.selected_project_id}}, {{test_id}}, '{{test_name}}')" class="btn btn-danger btn-sm">Delete</button>
        {{else}}
          {{#if ../user.is_admin}}
            <button onclick="deleteTest({{@root.selected_project_id}}, {{test_id}}, '{{test_name}}')" class="btn btn-danger btn-sm">Delete</button>
          {{/if}}
        {{/if}}
      </div>
    </div>
    
    <p class="requirement-description">{{test_description}}</p>
    
    <div class="requirement-meta">
      <div class="meta-item">
        <span class="meta-label">Source</span>
        <span class="meta-value">{{test_source}}</span>
      </div>
      <div class="meta-item">
        <span class="meta-label">Status</span>
        <span class="status-badge status-{{test_status}}">{{test_status}}</span>
      </div>
      <div class="meta-item">
        <span class="meta-label">Parent</span>
        <span class="meta-value">
          {{#if test_parent_id}}
            <a href="/p/{{@root.selected_project_id}}/tests/show/{{test_parent_id}}">{{test_parent_title}}</a>
          {{else}}
            None
          {{/if}}
        </span>
      </div>
    </div>
    
    {{#if linked_requirements}}
    <div class="linked-requirements">
      <h4>Linked Requirements</h4>
      <div class="requirements-list">
        {{#each linked_requirements}}
        <div class="requirement-link">
          <a href="/p/{{project_id}}/requirements/show/{{req_id}}" class="requirement-id">REQ-{{req_id}}</a>
          <span class="requirement-title">{{req_title}}</span>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
</div>
