
<div class='AllTests'>
    <div class='TestDiv'>
    <div class='testID'>Test ID: <a href='http://localhost:8000/tests/{{test_id}}'>{{test_id}}</a></div>
    <div class='testName'>Name: {{test_name}}</div>
    <div class='testDescription'>Description: {{test_description}}</div>
    <div class='testSource'>Source: {{test_source}}</div>
    <div class='testParent'>Parent: {{test_parent_title}}</div>
    <div class='testStat'>Status: {{test_status}}</div>
    <a href="/edit_test/{{test_id}}">Edit</a>
    </div>
</div>