
<div class='AllUser'>
    <div class='UserDiv'>
    <div class='userID'>User ID: <a href='http://localhost:8000/users/{{user_id}}'>{{user_id}}</a></div>
    <div class='userName'>Name: {{user_name}}</div>
    <div class='userusername'>Username: {{user_username}}</div>
    <div class='userDescription'>e-mail: {{user_email}}</div>
    <div class='userSource'>Level: {{user_level}}</div>
    <div class='userCreationDate'>Creation date: {{user_creation_date}}</div>
    <div class='userLastLoginDate'>Last login date: {{user_last_login_date}}</div>
    <a href="/edit_user/{{user_id}}">Edit</a>
    </div>
</div>